In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
df1=pd.read_csv("/content/prevalence-by-mental-and-substance-use-disorder.csv");
df2=pd.read_csv("/content/mental-and-substance-use-as-share-of-disease.csv")

In [ ]:
df1.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779

In [ ]:
df2.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986

In [ ]:
data=pd.merge(df1,df2)
data.head()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,1.696670
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,1.734281
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,1.791189
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,1.776779
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,1.712986

In [ ]:
data.isnull().sum()

Entity                                                                                               0
Code                                                                                               690
Year                                                                                                 0
Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)                             0
Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)                          0
Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)                          0
Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)                         0
Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)                        0
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                      0
Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)                     0
DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)      0
dtype: int64

In [ ]:
data.drop('Code',axis=1,inplace=True)

In [ ]:
data.size,data.shape

(68400, (6840, 10))

In [ ]:
data.head(2)

,Entity,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,1.696670
1,Afghanistan,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,1.734281

In [ ]:
data.set_axis(['Country','Year','Schizophrenia','Bipolar disorder','Eating disorders','Anxiety disorders','Drug use disorders','Depressive disorders','Alcohol use disorders','mental_fitness'], axis='columns', inplace=True)

In [ ]:
data.head(5)

,Country,Year,Schizophrenia,Bipolar disorder,Eating disorders,Anxiety disorders,Drug use disorders,Depressive disorders,Alcohol use disorders,mental_fitness
0,Afghanistan,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,1.696670
1,Afghanistan,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,1.734281
2,Afghanistan,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,1.791189
3,Afghanistan,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,1.776779
4,Afghanistan,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,1.712986

In [ ]:
df=data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6840 entries, 0 to 6839
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                6840 non-null   object
 1   Year                   6840 non-null   int64
 2   Schizophrenia          6840 non-null   float64
 3   Bipolar disorder       6840 non-null   float64
 4   Eating disorders       6840 non-null   float64
 5   Anxiety disorders      6840 non-null   float64
 6   Drug use disorders     6840 non-null   float64
 7   Depressive disorders   6840 non-null   float64
 8   Alcohol use disorders  6840 non-null   float64
 9   mental_fitness         6840 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 587.8+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
for i in df.columns:
  if df[i].dtype=='object':
    df[i]=l.fit_transform(df[i])

In [ ]:
df.shape

(6840, 10)

In [ ]:
X=df.drop('mental_fitness',axis=1)
y=df['mental_fitness']

from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest= train_test_split(X,y, test_size=.20, random_state=2)

In [ ]:
xtrain.shape,ytrain.shape,xtest.shape,ytest.shape

((5472, 9), (5472,), (1368, 9), (1368,))

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

In [ ]:
linear_regression = LinearRegression()
linear_regression.fit(xtrain, ytrain)

LinearRegression()

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
linear_predictions = linear_regression.predict(xtest)
linear_predictions = linear_regression.predict(xtest)
linear_mse = mean_squared_error(ytest, linear_predictions)
linear_r2 = r2_score(ytest, linear_predictions)
print("Linear Regression Mean Squared Error:", linear_mse)
print("Linear Regression R^2 Score:", linear_r2)

Linear Regression Mean Squared Error: 1.1357545319272384
Linear Regression R^2 Score: 0.7638974087055272

In [ ]:
# Train the Random Forest Regression model
random_forest = RandomForestRegressor()
random_forest.fit(xtrain, ytrain)

# Make predictions on the test data using Random Forest Regression
rf_predictions = random_forest.predict(xtest)
rf_mse = mean_squared_error(ytest, rf_predictions)
rf_r2 = r2_score(ytest, rf_predictions)
print("Random Forest Mean Squared Error:", rf_mse)
print("Random Forest R^2 Score:", rf_r2)

Random Forest Mean Squared Error: 0.030577699493392004
Random Forest R^2 Score: 0.9936434556206762

In [ ]:
from sklearn.svm import SVR

In [ ]:
# Train the Support Vector Regression model
svr = SVR()
svr.fit(xtrain, ytrain)

# Make predictions on the test data using Support Vector Regression
svr_predictions = svr.predict(xtest)
svr_mse = mean_squared_error(ytest, svr_predictions)
svr_r2 = r2_score(ytest, svr_predictions)
print("Support Vector Regression Mean Squared Error:", svr_mse)
print("Support Vector Regression R^2 Score:", svr_r2)

Support Vector Regression Mean Squared Error: 4.7911713917240055
Support Vector Regression R^2 Score: 0.0040031105995593785

In [ ]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [ ]:

# Train the Gradient Boosting Regression model
gbr = GradientBoostingRegressor()
gbr.fit(xtrain, ytrain)

# Make predictions on the test data using Gradient Boosting Regression
gbr_predictions = gbr.predict(xtest)
gbr_mse = mean_squared_error(ytest, gbr_predictions)
gbr_r2 = r2_score(ytest, gbr_predictions)
print("Gradient Boosting Mean Squared Error:", gbr_mse)
print("Gradient Boosting R^2 Score:", gbr_r2)

Gradient Boosting Mean Squared Error: 0.24559323785157935
Gradient Boosting R^2 Score: 0.9489456583873245